apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: osdu-ingress
  namespace: osdu
  annotations:
    kubernetes.io/ingress.class: azure/application-gateway
    appgw.ingress.kubernetes.io/request-timeout: "300"
    appgw.ingress.kubernetes.io/connection-draining: "true"
    appgw.ingress.kubernetes.io/connection-draining-timeout: "30"
    cert-manager.io/cluster-issuer: letsencrypt
    cert-manager.io/acme-challenge-type: http01
spec:
  tls:
  - hosts:
    - {{ .Values.global.ingress.hostname }}
    secretName: osdu-certificate
  rules:
    - host: {{ .Values.global.ingress.hostname }}
      http:
        paths:
          - backend:
              serviceName: osdu-common
              servicePort: 80
            path: /*
          - backend:
              serviceName: partition
              servicePort: 80
            path: /api/partition/v1/*
          - backend:
              serviceName: entitlements-azure
              servicePort: 80
            path: /entitlements/v1/*
          - backend:
              serviceName: legal
              servicePort: 80
            path: /api/legal/v1/*
          - backend:
              serviceName: storage
              servicePort: 80
            path: /api/storage/v2/*
          - backend:
              serviceName: indexer-service
              servicePort: 80
            path: /api/indexer/v2/*
          - backend:
              serviceName: search-service
              servicePort: 80
            path: /api/search/v2/*
          - backend:
              serviceName: delivery
              servicePort: 80
            path: /api/delivery/v2/*
          - backend:
              serviceName: schema-service
              servicePort: 80
            path: /api/schema-service/v1/*
          - backend:
              serviceName: register
              servicePort: 80
            path: /api/register/v1/*
          - backend:
              serviceName: crs-catalog-service
              servicePort: 80
            path: /api/crs/catalog/*
          - backend:
              serviceName: crs-conversion-service
              servicePort: 80
            path: /api/crs/converter/*
          - backend:
              serviceName: unit-service
              servicePort: 80
            path: /api/unit/*
          - backend:
              serviceName: file
              servicePort: 80
            path: /api/file/v2/*
          - backend:
              serviceName: ingestion-workflow
              servicePort: 80
            path: /api/workflow/*
          - backend:
              serviceName: os-wellbore-ddms
              servicePort: 80
            path: /api/os-wellbore-ddms/*
          - backend:
              serviceName: notification
              servicePort: 80
            path: /api/notification/v1/*
          - backend:
              serviceName: well-planning
              servicePort: 80
            path: /api/well-planning/*
          - backend:
              serviceName: entitlements
              servicePort: 80
            path: /api/entitlements/v2/*
          - backend:
              serviceName: seismic-store-service
              servicePort: 80
            path: /seistore-svc/api/v3/*
