# This file contains the essential configs for the osdu on azure helm chart
global:

  # Service(s) Replica Count
  replicaCount: 2

  ################################################################################
  # Specify the azure environment specific values
  #
  azure:
    tenant: #{tenant-id}#
    subscription: #{subscription-id}#
    resourcegroup: #{base-name-cr}#-rg
    identity: #{base-name-cr}#-osdu-identity
    identity_id: #{osdu-identity-id}#
    keyvault: #{base-name-cr}#-kv
    appid: #{aad-client-id}#

  ################################################################################
  # Specify the Ingress Settings
  # DNS Hostname for thet Gateway
  # Admin Email Address to be notified for SSL expirations
  # Lets Encrypt SSL Server
  #     https://acme-staging-v02.api.letsencrypt.org/directory  --> Staging Server
  #     https://acme-v02.api.letsencrypt.org/directory --> Production Server
  #
  ingress:
    hostname: #{DNS_HOST}#
    admin: #{ADMIN_EMAIL}#
    sslServer: https://acme-v02.api.letsencrypt.org/directory  # Production

<<<<<<< HEAD
  ################################################################################
  # Specify the Gitlab branch being used for image creation
  # ie: community.opengroup.org:5555/osdu/platform/system/storage/{{ .Values.global.branch }}/storage:latest
  #
  image:
    repository: ${ENV_REGISTRY}
    branch: ${BRANCH}
    tag: ${TAG}

  ################################################################################
  # Specify the istio specific values
  # based64 encoded username and password
  #
  istio:
    username: ${ISTIO_USERNAME}
    password: ${ISTIO_PASSWORD}
=======
################################################################################
# Specify the istio specific values
# based64 encoded username and password
#
istio:
  username: #{istio-username}#
  password: #{istio-password}#
>>>>>>> master
